{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron category-title">
            <h1>Genus</h1>
            <h2>{{ genus.name }}</h2>
        </div>
        {% block flashMessage %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-success alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <div class="row">
                    <a href="{{ path('genus_index') }}" class="btn backindex">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to the list
                    </a>

                    <div class="pull-right">
                        <button type="submit" class="btn pull-right btncreate">
                            <span class="glyphicon glyphicon-ok"></span>
                            Update
                        </button>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}