{% trans_default_domain 'FOSUserBundle' %}

{% block login %}
<div class="row">
    <h1 class="login-title">Create a new account</h1>
</div>
{% endblock %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div class="row login-input marginSubmit">
    <input class="login-submit btn" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}

<a href="{{ path('homepage') }}">
    <button type="button" class="btn backadmin"><span class="glyphicon glyphicon-arrow-left"></span> Back to home</button>
</a>
